{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Profile Dosen & Karyawan <br>STKIP SURYA</h1>
                            <div class="description">
                            	<p>
	                            	List data profile Dosen dan Karyawan STKIP SURYA
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                            		<p><h4>Masukan Username dan Password Anda:</h4></p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
		                    </div>
                        </div>
                    </div>
                 </div>
{% endblock %}
