{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Profile Dosen & Karyawan <br>STKIP SURYA</h1>
                            <div class="description">
                            	<h4>
	                            	List data profile Dosen dan Karyawan STKIP SURYA
                            	</h4>
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}
